@media (min-width: 480px) and (max-width: 767px) {
		.hidden-xs-down{
		display: none !important;
    	visibility: hidden;
	}

	#section1 h1 {
    font-family: $simple_life;
    font-size: 42px;
}


}

@media (max-width: 480px){
	.hidden-xs-down{
		display: none !important;
    	visibility: hidden;
	}

	#section1 h1 {
    font-family: $simple_life;
    font-size: 35px;
}


}
