mixin link(href, name)
  a(href=href)&attributes(attributes)= name
    block

mixin image(src, name, id)
  img(class!='description img-responsive', src=src, id='herramienta')


mixin font-awesome(href, clase)
  .col-xs-3.v-center
    a(href=href)(target="_blank")
      i(aria-hidden="true")&attributes(attributes)= clase

mixin intereses
    .description  
      h4 Servidores. 
      span 
        p Redes. 
      span
        p Automatización de procesos operativos. 
      span
        h4 Programación. 
      span
        p Python. 
      span
        p Metodologías Agiles. 
      span
        h4 Sistemas transaccionales. 
      span 
        p DDoS. 
      span
        h4 Seguridad Informática. 
    .description
      h3 Otros asuntos que me mantienen viva:
      span
        h4 Arte. 
      span
        p Literatura. 
      span
        h4 Música. 
      span
        h4 Cine. 
      span
        p Culturas urbanas. 
      span
        p Deportes de aventura. 
      span
        p Tiempo para mi. 
      span
        h4 Libertad. 
      span
        h4 Viajes. 
      span
        p Conocer gente inteligente. 
      span
        p Series. 
      span
        h4 Gatos.