doctype html 
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  include views/head.jade
body
  include views/home.jade
  script(src="assets/js/javascripts/bootstrap.min.js")
  script(src="assets/js/main.js")