$azulmarinostronger: #03031E;
$azulmarino: #06061a;
$azulmarinocasimorado: #0e071e;
$morado: #190723;
$moradomasclaro: #250827;
$negro: #000000;
$comoguinda: #2a0911;
$guindamasclaro: #541221;
$rosado: #7f1a31;
$rosadito: #aa2241;
$plomo: #A4A4A4;
$azulhover: #23527C;
$blanco: #F7F7F7;
$jean: #323031;
$arrow-color:#0e001c;
$font-family-cookie: "Cookie";
$font-family-exo: "Exo";
$font-family-dekko: "Dekko";
$font-size-small: 14px;
